/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    min-height: 300px;
    min-width: 440px;
    background: #87ceebff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eba487ff;
}

li{
    float: left;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-right:2px solid whitesmoke;
}


.navbar {
    display: block;
    inline-size:125px;
    padding: 4px 3px;
    writing-mode: horizontal-tb;
    color: black;
    text-align: center;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

.icon{
    float: right;
    height:auto;
    padding: 3px 4px 1px 4px;
}

li .navbar:hover {
    background-color: rgb(230, 111, 64)
}

li .active:hover {
    background-color: rgb(230, 111, 64)
}

.active {
    display: block;
    inline-size:125px;
    padding: 4px 3px;
    writing-mode: horizontal-tb;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #e07245ff;
}

.bottom{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display:block;
    float: left;
    padding-left: 20px;
    padding-top: 5px;
}

.bottom h6, .bottom p, .bottom span, .stage{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
}

.bottom h6{
    font-weight: 700;
}

.bottom p{
    color: rgb(76, 42, 230);
    font-family: Consolas, monaco, monospace; 
    font-size: 18px;
    font-weight: 700;
    margin-left: -22px;
}

.bottom h1{
    font-weight: 900;
    font-size: 19px;
    line-height: 24px;
    padding: 7px 0px 5px;
}

.top{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display:block;
    float: right;
    padding-right: 35px;
    padding-top: 5px;
}

.top h6, .top p{
    display: inline;
    font-size: 16px;
    line-height: 24px;
}

.top h6{
    font-weight: 700;
}

.top p{
    color: rgb(76, 42, 230);
    font-family: Consolas, monaco, monospace; 
    font-size: 18px;
    font-weight: 700;
}

.top h1{
    font-weight: 900;
    font-size: 19px;
    line-height: 24px;
    padding: 7px 0px 5px;
}

.stage{
    padding-left: 20px;
}
.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(76, 42, 230);
    color: rgb(76, 42, 230);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }
  .dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(76, 42, 230);
    color: rgb(76, 42, 230);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(76, 42, 230);
    color: rgb(76, 42, 230);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: rgb(76, 42, 230);
    }
    50%, 100% {
      background-color: rgba(152, 128, 255, 0.2);
    }
  }



