/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    min-height: 300px;
    min-width: 440px;
    background: #87ceebff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eba487ff;
}

li{
    float: left;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    border-right:2px solid whitesmoke;
}


.navbar {
    display: block;
    inline-size:125px;
    padding: 4px 3px;
    writing-mode: horizontal-tb;
    color: black;
    text-align: center;
    text-decoration: none;
}

li:last-child {
    border-right: none;
}

.icon{
    float: right;
    height:auto;
    padding: 3px 4px 1px 4px;
}

li .navbar:hover {
    background-color: rgb(230, 111, 64)
}

li .active:hover {
    background-color: rgb(230, 111, 64)
}

.active {
    display: block;
    inline-size:125px;
    padding: 4px 3px;
    writing-mode: horizontal-tb;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #e07245ff;
}

.bottom{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display:block;
    padding-left: 20px;
    padding-top: 5px;
}

.bottom h6, .bottom p{
    display: inline;
    font-size: 16px;
    line-height: 24px;
}

.bottom h6{
    font-weight: 700;
}

.bottom h1{
    font-weight: 900;
    font-size: 19px;
    line-height: 24px;
    padding: 7px 0px 5px;
}




